*{
    color:rgb(215, 69, 118);
    font-family: "courgette", monospace;
    font-size: 1.05em;
    font-weight: 500;
    line-height: 1.6;
    margin: 0px 0px;
}
        .titulo{
            font-size: 2.5em;
            text-align: center;
            color: darkviolet;
            background-color: lightsalmon;
            padding: 5px 5px 5px 5px;
            margin: 0;
            width: 100vw;
        }
        p{
            margin: 30px 30px;
            text-align: justify;
        }
        #sobresalido{
            color: darkred;
            font-weight: bold;
            margin: 10px 10px;
            text-align: center;
            text-decoration: wavy underline;
        }
        footer {
            text-align: center;
            padding: 1px 0;
            background-color: lightgray;
            width: 100vw;
            bottom: 0;
            border:3px solid darkgray;
            margin: 0;
            left: 0;
            position: relative;

        }
        footer:hover {
            background-color: lightcoral;
            color: white;
            
        }

        .nav {
            background-color: rgb(75, 11, 11);
            padding: 10px;
            text-align: center;
        }